.modify-card-content {
  padding: 5px 0px;
  text-align: center;
}

.post-size {
  width: 300px;
  height: 300px;
}

.redo-alt {
  height: 17px;
  width: 17px;
  margin-left: 5px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  font-size: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.paginator{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2199e8;
  color: #fefefe;
  cursor: default;
}

.paginator /deep/ .ngx-pagination a, .ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}

.paginator /deep/ .ngx-pagination li {
  margin-right: 0.0625rem;
  display: inline-block;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
}
