.color {
  background-color: hsl(0, 0%, 86%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.post-size {
  width: 300px;
  height: 300px;
}


.modify-card {
  background-color: transparent !important;
  box-shadow: none;
  cursor: pointer;

}

img {
  border-radius: 5px;
}

.modify-card-content {
  padding: 5px 0px;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.explore {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.explore:hover {
  border-bottom: 1px solid black;
  transition: 0.2s ease-in-out border-bottom;
}

.dropdown-content {
  height: 150px;
  overflow: scroll;
}
